# =========================
# GRAFANA DATASOURCES
# =========================

- name: Ensure datasource directory exists
  file:
    path: "{{ grafana_provisioning_dir }}"
    state: directory
    owner: grafana
    group: grafana
    mode: "0755"
  tags: [grafana, grafana_datasource]

# -------------------------
# Prometheus
# -------------------------
- name: Provision Prometheus datasource
  template:
    src: prometheus-ds.yml.j2
    dest: "{{ grafana_provisioning_dir }}/prometheus.yml"
    owner: grafana
    group: grafana
    mode: "0644"
  notify: Restart Grafana
  tags: [grafana, grafana_datasource, datasource_prometheus]

# -------------------------
# Loki
# -------------------------
- name: Provision Loki datasource
  template:
    src: loki-ds.yml.j2
    dest: "{{ grafana_provisioning_dir }}/loki.yml"
    owner: grafana
    group: grafana
    mode: "0644"
  notify: Restart Grafana
  tags: [grafana, grafana_datasource, datasource_loki]

# -------------------------
# Tempo (Tracing)
# -------------------------
- name: Provision Tempo datasource
  template:
    src: tempo-ds.yaml.j2
    dest: "{{ grafana_provisioning_dir }}/tempo.yml"
    owner: grafana
    group: grafana
    mode: "0644"
  notify: Restart Grafana
  tags: [grafana, grafana_datasource, datasource_tempo, tempo]
