[k0s_controller]
controller ansible_host=10.0.1.50 ansible_user=ubuntu

[k0s_workers]
worker-1 ansible_host=10.0.2.51 ansible_user=ubuntu
worker-2 ansible_host=10.0.3.138 ansible_user=ubuntu

[k0s_cluster:children]
k0s_controller
k0s_workers

[all:vars]
ansible_ssh_private_key_file=../key_pair/k0s_key
