# ================================
# Observability Inventory (Staging)
# ================================

[monitoring]
obser-1 ansible_host=10.0.4.13

[logging]
obser-2 ansible_host=10.0.5.127

[all:vars]
loki_host=10.0.5.127
