client
dev tun
proto udp
remote {{ openvpn_public_ip }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun

cipher AES-256-GCM
remote-cert-tls server
verb 3

<ca>
{{ ca_crt }}
</ca>

<cert>
{{ client_crt }}
</cert>

<key>
{{ client_key }}
</key>
