# AWS region
region = "ap-southeast-1"

# SSH key 
key_name        = "k0s-key"
public_key_path = "../../../key_pair/k0s_key.pub"

# Networking
vpc_cidr = "10.0.0.0/16"

# Compute
# Ubuntu 22.04 LTS (ap-southeast-1)
ami = "ami-0df7a207adb9748c7"

# Instance Type 
k0s_instance_type           = "t3.small"
observability_instance_type = "t3.small"
openvpn_instance_type       = "t3.micro"
